.head{
    margin: 0 auto;
    width : 1200px;
    height: 50px;
    line-height: 50px;
    display: flex;
    border : 1px solid gainsboro;
    justify-content: space-between;
}
.head > span {
    margin : 0px 15px;
}